* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


html, body {
    margin: 0;
    padding:0;
    height:100%;
    background-color: white;
}

.container {
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color: #5025a5;
}

.head {
    display: flex;
    min-height:64px;
    align-items: center;
    color: white;
    background-color: #8c52ff;
}
.tituloLogo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo {
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    height: 30px;
    background-color: black;
    margin: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}


.h1_Header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding-top:50px;
    padding-bottom:50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:512px;
}
.title > h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

textarea {
    resize: none;
}

.doble{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
}

.textbox1{
    width: 100%;
    padding: 10px;
    background-color: #e5e5e5;
    border:0px solid;
    border-radius: 10px;
    outline: none;
}
.textbox2{
    width: 100%;
    padding: 10px;
    background-color: #e5e5e5;
    border:0px solid;
    border-radius: 10px;
    outline: none;
}

.box{
    display: flex;
    align-items: center;
    height: 100%;
}
.check{
    width: 30px;
}
.siteUsername{
    width: 100%;
}
.sitePassword{
    width: 100%;
}

.sitePassword > .box > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.site{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
}
.boton{
    display: flex;
    justify-content: center;
}

.button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: 0px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 15px;
    background-color: #8c52ff;
    color: white;
    cursor: pointer;
}

.generator{
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    height:100%;
    font-size: 22px;
    border: 0px solid black;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #8c52ff;
    color: white;
    cursor: pointer;
}

.bi-lock-fill{
    cursor: pointer;
}
